* {
	box-sizing: border-box;
}

body {
	text-align: center;
	font-family: Montserrat;
	font-size: 1em;
}

#container {
	width: 90%;
	/* no height set, to keep div same size as containing text */
	margin: auto;
	border-radius: 15px;
	margin-top: 1em;
	overflow: auto; /* prevents collapsed margin */
}

#mug {
	display: block;
	width: 30%;
	margin: auto;
	border-radius: 10px;
	margin-top: 1em;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-style: italic;
	font-size: 0.8em;
}

.quote {
	display: block;
	width: 80%;
	margin: auto;
	margin-top: 2em;
	font-size: 0.9em;
}

p {
	text-align: right;
	font-style: italic;
	font-size: 0.7em;
}

/* ==== Media Queries ==== */

@media (min-width: 420px) {
	body {
		font-size: 1.25em; /* rest of fonts adjust from this */
	}
	
	.quote {
		font-size: 0.7em;
	}
	
	#container {
		width: 75%;
	}
	
	#mug {
		width: 25%;
	}
}

@media (min-width: 768px) {
	body {
		font-size: 1.4em;
	}
	 
	.quote {
		font-size: 0.7em;
	}		
	#container {
		width: 60%;
	}
	

	
}
	