* {
	box-sizing: border-box;
	line-height: 1.2;
}

body {
	text-align: center;
	font-family: Montserrat;
	font-size: 1em;
}

main {
	height: 100vh;
	border: black 5px solid;
	border-radius: 5px;
}

button {
	background-color: #f4c242;
	color: black;
	font-family: inherit;
	font-weight: bold;
}

#container {
	width: 90%;
	/* no height set, to keep div same size as containing text */
	margin: auto;
	border-radius: 15px;
	margin-top: 1em;
	margin-bottom: 1em;
	overflow: auto; /* prevents collapsed margin */
}

#mug {
	display: block;
	width: 30%;
	margin: auto;
	border-radius: 10px;
	margin-top: 1em;
}


h1 {
	font-size: 1.4em;
	background-color: #42c8f4;
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: bold;
	margin-bottom: 1em;
	top: 0;
}

h2 {
	display: block;
	font-style: italic;
	font-size: 0.7em;
	width: 70%;
	margin: auto;
	margin-bottom: 0.5em;
}

.quote {
	display: block;
	width: 80%;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;	
	font-size: 0.8em;
	font-weight: bold;
}

p {
	text-align: right;
	padding-top: 0.5em;
	font-style: italic;
	font-size: 0.7em;
}

/* ==== Media Queries ==== */

@media (min-width: 420px) {
	body {
		font-size: 1.25em; /* rest of fonts adjust from this */
	}
	
	.quote {
		font-size: 0.7em;
	}
	
	#container {
		width: 75%;
	}
	
	#mug {
		width: 25%;
	}
}

@media (min-width: 768px) {
	body {
		font-size: 1.4em;
	}
	 
	.quote {
		font-size: 0.7em;
	}		
	#container {
		width: 60%;
	}
	

	
}
	