* {
	box-sizing: border-box;
}

body {
	text-align: center;
	font-family: Montserrat;
}

#container {
	width: 90%;
	height: 300px;
	margin: auto;
	border-radius: 15px;
	margin-top: 1.5em;
	overflow: auto; /* prevents collapsed margin */
}

h2 {
	font-style: italic;
	font-size: 1em;
}

.quote {
	display: block;
	width: 80%;
	margin: auto;
	margin-top: 2em;
	font-size: 1em;
}

p {
	text-align: right;
	font-style: italic;
}

	