* {
	box-sizing: border-box;
	line-height: 1.2;
}

/* === IDs === */

#container {
	text-align: center;
	font-family: 'Slabo 27px', serif;
	font-size: 1em;
	background-color: #5cdb95;
	color: #05386b;
	letter-spacing: 0.03em;
	width: 100%;
	margin: auto;
}

#mug {
	display: block;
	height: 40%;
	width: auto;
	margin: 1em auto;
	border-radius: 10px;
}

#quoteContainer {
	width: 90%;
	/* no height set, to keep div same size as containing text */
	margin: auto;
	border-radius: 15px;
	margin-top: 1em;
	margin-bottom: 1em;
	overflow: auto; /* prevents collapsed margin */
}

/* ==== Elements ==== */

main {
	height: 100vh;
	border: black 5px solid;
	border-radius: 5px;
}

button {
	background-color: #f4c242;
	color: black;
	font-family: inherit;
	font-weight: bold;
	margin-top: 1em;
}

h1 {
	font-size: 1.5em;
	width: 100%;
	padding: 1em;
	margin-bottom: 0.5em;
	font-weight: bold;
	top: 0;
	text-decoration: underline;
	color: #5cdb95;
	background-color: #05386b;

}

h2 {
	display: block;
	font-style: italic;
	font-weight: bold;
	font-size: 0.7em;
	width: 70%;
	margin: auto;
	margin-bottom: 0;
}

p {
	text-align: right;
	padding-top: 0.5em;
	font-style: italic;
	font-size: 0.7em;
}

/* ==== Classes ==== */

.quote {
	display: block;
	width: 80%;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 0.8em;
	font-weight: bold;
}

/* ==== Media Queries ==== */

@media (min-width: 420px) {
	body {
		font-size: 1.25em; /* rest of fonts adjust from this */
	}

	.quote {
		font-size: 0.7em;
	}

}

@media (min-width: 768px) {
	body {
		font-size: 1.4em;
	}

	.quote {
		font-size: 0.8em;
	}
	#container {
		width: 90%;
	}

	#quoteContainer {
		width: 75%
	}

}

@media (min-width: 1440px) {
	#container {
		font-size: 1.2em;
		display: flex;
		min-height: 840px;
		flex-direction: column;
		align-items: center;
	}

	#quoteContainer {
		width: 70%;
		font-size: 1.3em;
		margin-top: 0;
		margin-bottom: 1em;
	}


	h2 {
		margin-top: 0.5em;
	}

	button {
		width: 100px;
		font-size: 0.8em;
	}

}
